@using Microsoft.EntityFrameworkCore;

<div class="quote-list">
    <Virtualize Items="@Quotes" Context="quote">
        <Card Class="quote">
            <CardImage Source="@GetImagePath(quote.Author.File)" Alt="Placeholder image"></CardImage>
            <CardBody>
                <CardTitle Size="5">@quote.Text</CardTitle>
                <CardText>
                    @quote.Author?.Name - <small>@quote.DateOfQuote.ToShortDateString()</small>
                </CardText>
                <AuthorizeView Policy="@QuotesPolicies.IsAdmin">
                    <Button Clicked="() => DeleteQuoteAsync(quote.Id)">
                        <Icon Name="IconName.Delete" IconStyle="IconStyle.Solid" TextColor="TextColor.Danger" />
                    </Button>
                </AuthorizeView>
            </CardBody>
        </Card>
    </Virtualize>
</div>