@using Microsoft.EntityFrameworkCore;

<div class="quote-list">
    <Virtualize Items="@Quotes" Context="quote">
        <Card Class="quote">
            <CardImage Source="@GetImagePath(quote.Author.File)" Alt="No Image">
            </CardImage>
            <CardBody>
                <CardTitle Size="5">
                    @quote.Text

                </CardTitle>
                <CardText>
                    @quote.Author?.Name - <small>@quote.DateOfQuote.ToShortDateString()</small>
                </CardText>
                <AuthorizeView Policy="@QuotesPolicies.IsAdmin">
                    <Button Color="Color.Danger" Style="top:1rem;right:1rem;" Position="Position.Absolute" Clicked="() => ShowModal(quote.Id)">
                        <Icon Name="IconName.Delete" IconStyle="IconStyle.Solid" TextColor="TextColor.White" />
                    </Button>
                </AuthorizeView>
            </CardBody>
        </Card>
    </Virtualize>
</div>
<ConfirmationModal @ref="modalRef"></ConfirmationModal>