@using Microsoft.EntityFrameworkCore;
<div class="quote-list">
    @foreach (var quote in Quotes.Skip((int.Parse(currentPage) - 1) * SIZE).Take(SIZE))
    {
        <Card>
            <CardImage Source="@GetImagePath(quote.Author.File)" Alt="No Image">
            </CardImage>
            <CardBody>
                <CardTitle Size="5">
                    @quote.Text
                </CardTitle>
                <CardText>
                    @quote.Author?.Name - <small>@quote.DateOfQuote.ToShortDateString()</small>
                </CardText>
                <AuthorizeView Policy="@QuotesPolicies.IsAdmin">
                    <Button Color="Color.Danger" Style="top:1rem;right:1rem;" Position="Position.Absolute" Clicked="() => ShowModal(quote.Id)">
                        <Icon Name="IconName.Delete" IconStyle="IconStyle.Solid" TextColor="TextColor.White" />
                    </Button>
                </AuthorizeView>
            </CardBody>
        </Card>
    }
</div>
<Pagination Margin="Margin.Is2.FromTop">
    <PaginationItem Disabled="@IsPageNavigationDisabled(PREVIOUS)" @onclick="Previous">
        <PaginationLink>
            <span aria-hidden="true">«</span>
        </PaginationLink>
    </PaginationItem>
    <Div Flex="Flex.Row" Style="overflow-x:auto">
    @{
        for (var i = 0; i <= PageItems; i++)
        {
            var pageNumberAsString = (i + 1).ToString();
            <PaginationItem @key="pageNumberAsString" Active="@IsActive(pageNumberAsString)">
                <PaginationLink Page="@pageNumberAsString" Clicked="SetActive">
                    @pageNumberAsString
                </PaginationLink>
            </PaginationItem>
        }
        }
    </Div>
    <PaginationItem Disabled="@IsPageNavigationDisabled(NEXT)" @onclick="Next">
        <PaginationLink>
            <span aria-hidden="true">»</span>
        </PaginationLink>
    </PaginationItem>
</Pagination>
<ConfirmationModal @ref="modalRef"></ConfirmationModal>
