@using Microsoft.EntityFrameworkCore;
<div class="quote-list">
    @foreach (var quote in Quotes)
    {
        <MudCard>
            <MudCardMedia Image="@GetImagePath(quote.Author.File)" />
            <MudCardContent>
                <MudText Typo="Typo.h3">
                    @quote.Text
                </MudText>
                <MudText Typo="Typo.body2">
                    @quote.Author?.Name - <small>@quote.DateOfQuote.ToShortDateString()</small>
                </MudText>
                <AuthorizeView Policy="@QuotesPolicies.IsAdmin">
                    <MudIconButton Class="delete-button" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium" OnClick="() => ConfirmDelete(quote.Id)" />
                </AuthorizeView>
            </MudCardContent>
        </MudCard>
    }
</div>
