@using Microsoft.EntityFrameworkCore;

<div class="quote-list">
    @foreach (var quote in Quotes)
    {
        <Card Style="height:800px">
            <CardImage Source="@GetImagePath(quote.Author.File)" Alt="No Image">
            </CardImage>
            <CardBody>
                <CardTitle Size="5">
                    @quote.Text
                </CardTitle>
                <CardText TextOverflow="TextOverflow.Wrap">
                    @quote.Author?.Name - <small>@quote.DateOfQuote.ToShortDateString()</small>
                </CardText>
                <AuthorizeView Policy="@QuotesPolicies.IsAdmin">
                    <Button Color="Color.Danger" Style="top:1rem;right:1rem;" Position="Position.Absolute" Clicked="() => ShowModal(quote.Id)">
                        <Icon Name="IconName.Delete" IconStyle="IconStyle.Solid" TextColor="TextColor.White" />
                    </Button>
                </AuthorizeView>
            </CardBody>
        </Card>
    }
</div>
<ConfirmationModal @ref="modalRef"></ConfirmationModal>
