<div class="author-list">
    @foreach (var author in Authors)
    {
        <MudCard>
            <MudCardMedia Image="@GetImagePath(author.File!)"></MudCardMedia>
            <MudCardContent>
                <MudText Typo="Typo.h3">
                    @author.Name
                </MudText>
                <MudIconButton Class="delete-button" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium" OnClick="() => ConfirmDelete(author.Id)" />
                <MudFileUpload T="IBrowserFile" FilesChanged="async e => await OnChangedAsync(e, author.Id)">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Filled.Image"
                               for="@context">
                            Bild updaten
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </MudCardContent>
        </MudCard>
    }
</div>
