@inherits LayoutComponentBase

@using quotes_web.Domain.Authentication
@using Blazored.Toast
@using Blazored.Toast.Configuration
@using System.Reflection

<PageTitle> Quotes 2.0</PageTitle>

<BlazoredToasts Position="ToastPosition.BottomCenter"
                Timeout="6"
                IconType="IconType.FontAwesome"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                ShowProgressBar="true" />
<MudThemeProvider @ref="@mudThemeProvider" @bind-IsDarkMode="@isDarkMode"/>
<MudDialogProvider FullWidth="true"
   MaxWidth="MaxWidth.ExtraSmall"
   CloseButton="true"
   DisableBackdropClick="true"
   NoHeader="true"
   Position="DialogPosition.Center"
   CloseOnEscapeKey="true" />

<AuthorizeView Policy="@QuotesPolicies.IsUser">
    <Authorized>
        <div class="header-wrapper">
            <h1 @onclick="NavigateToOverview">Quotes 2.0</h1>
            <div>
                <AuthorizeView Context="dropdownCtx" Policy="@QuotesPolicies.IsAdmin">
                    @Assembly.GetExecutingAssembly().GetName().Version?.ToString()
                    <MudButton Color="Color.Warning" OnClick="NavigateToAdmin">Admin</MudButton>
                </AuthorizeView>
                <MudButton Color="Color.Secondary" OnClick="NavigateToLogout">Logout</MudButton>
            </div>
        </div>
        @Body
    </Authorized>
    <NotAuthorized>
        <div class="login-wrapper">
            <MudButton Color="Color.Primary" OnClick="NavigateToLogin">Login</MudButton>
        </div>
    </NotAuthorized>
</AuthorizeView>

<style>


    .header-wrapper {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(108,117,125,0.4)
    }
</style>
